# Used by next-auth:     openssl rand -base64 32
AUTH_SECRET='xxx'

# Used by prisma
POSTGRES_URL=postgres://USER:PASS@HOST:PORT/DB?schema=public

# Used by Alchemy for AA
# Generate encrpytion key via `node -e "console.log('WALLET_ENCRYPTION_KEY=' + require('crypto').randomBytes(32).toString('hex'))"`
ALCHEMY_API_KEY=kWTaSpHWut5grCq0eRBII
WALLET_ENCRYPTION_KEY=40f91e8692f6bf2a210a57a8bf59a7719667a541efaad3be1eb572b4aad73732