# Used by prisma
POSTGRES_URL=postgres://USER:PASS@HOST:PORT/DB?schema=issuer_service

# Private key used to sign VC
VC_SIGNING_PRIVATE_KEY=xxx

# Private key of wallet of issuer - the VC registry
ISSUER_PRIVATE_KEY=xxx

# Address of the deployed VCRegistry contract
VC_REGISTRY_ADDRESS=xxx

# RPC URL for polygon amoy testnet
RPC_URL=xxx