@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  height: 100%; /* Allow it to grow naturally */
}

body {
  background: var(--background);
  color: var(--foreground);

  min-height: 100vh;

  font-family: Arial, Helvetica, sans-serif;
}
